<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p> </p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
        <img src="{{ marsContent.featuredImage }}" alt="Mars featuredImage">
        <h2>{{marsContent.newsTitle}}</h2>
        <h5>{{marsContent.newsPara}}</h5>
        <h3>Current Weather on Mars: {{ marsContent.weatherTweets }}</h3>
    </div>
    <div>
        <ul style="list-style: none;">
            <!-- Loop through the dictionary -->
            <table border="1">
                <tr><th>Attribute</th><th>Value</th></tr>
                {% for eachFact in marsContent.marsFacts %}
                <tr>
                <td><li style="color:blue">{{ eachFact.Attributes }}</li></td>
                <td><li style="color:blue">{{ eachFact.Value }}</li></td>
                </tr>
                {% endfor %}
            </table>
          </ul>
    
    </div>
  
</body>

</html>
